html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h2{
  text-shadow: 2px 2px white;
  /* box-shadow: 5px 10px; */
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("assets/flower.jpg");
  color: white;
  text-align: center;
  font-size: 2em;
}

section{
  position: relative;
  top: 1080px;
  padding: 100px;
  width:100%;
  min-height: 1080px;
  box-sizing: border-box;
  color: lightpink;

}


.info {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  color:lightpink;
  text-shadow: 2px 2px white;
  width: 50%;
  border: 2px solid limegreen;
  display: block;
  margin: auto;
  margin-top: 20%;
}

.info-text{

  font-size: 15px;
  font-family: "Lucida Console", Monaco, monospace;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: -400px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
